.button {
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50%;
  font-size: 2.8em;
  font-family: var(--my-font);

  background-color: #333333;
  color: white;
  &--sign {
    background-color: #ff9f0b;
    &:active {
      background-color: white;
      color: #ff9f0b;
    }
    &:hover {
      background-color: white;
      color: #ff9f0b;
    }
  }
  &--other {
    background-color: #a5a5a5;
    color: #000000;
  }
}
