.calculator {
  width: 370px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__input {
    min-height: 200px;
    padding: 10px;
    font-size: 90px;
    line-height: 90px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  &__buttons {
    padding: 10px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 260px 80px;
    grid-template-rows: auto auto;
    gap: 10px;
    grid-template-areas:
      "memory signs"
      "numbers signs";
    .buttons {
      &__memory {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 80px);
        justify-content: stretch;
        justify-items: center;
        align-items: center;
        grid-area: memory;
      }
      &__signs {
        display: grid;
        grid-template-columns: 80px;
        justify-content: stretch;
        justify-items: center;
        gap: 10px;
        grid-area: signs;
      }
      &__numbers {
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        justify-content: stretch;
        justify-items: center;
        grid-area: numbers;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . ."
          "zero zero .";
      }
    }
  }
}
